:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #adb5bd;

    /*#adb5bd;*/

    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292E;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #F0EAD6;

    --buttonColor: #173fb8;

}

/* ----------- GENERAL PART ----------- */

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body *{
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;

    text-shadow:
    0px 2px 0px #b2a98f,
    0px 4px 3px rgba(0,0,0,0.15),
    0px 4px 1px rgba(0,0,0,0.1);
}

ul {
    list-style: none;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    font-weight: 900;
    color: #17a2b8;
}

h1 { font-size: 42px;}
h2 { font-size: 34px;}
h3 { font-size: 26px;}
h4 { font-size: 22px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}



.s1 {
    background-color: var(--mainColor);
    border-bottom: 2px solid var(--borderColor);
    overflow: hidden;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 2px solid var(--borderColor);
    overflow: auto;
}

/* --- TEXT WRAPPER --- */

.wrapper {
    height: 0vh;
    background: #fff;
    display: grid;
    place-items: center;
  }
  
.portrait {
    padding: 0 6px 0 6px;
    text-align: justify;
    font-family: 'Russo One', sans-serif;
    font-size: 12px;
    font-weight: 100;
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--secondaryColor);

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* ----------- MAIN PART ----------- */

.main-container {
    width: 1022px;
    margin: auto;
}

.greating-wrrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 6em;
    margin: -15px 0 -15px 0;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 3px var(--borderColor);
    border-radius: 5px;

    -webkit-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 2px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 {
    background-color: #FC6058;
}

#dot-2 {
    background-color: #FEC02F;
}

#dot-3 {
    background-color: #2ACA3E;
}


.left-column {
    grid-area: left-column;
    padding-top: 40px;
    padding-bottom: 10px;
}

#profile_pic {
    display: block;
    margin: 0 auto;

    height: 160px;
    width: 180px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--borderColor);
}

.left-column p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;

}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: black;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #0077b6;
}

#green-mode {
    background-color: #38b000;
}

#purple-mode {
    background-color: #382a3f;
}

#settings-note {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 10px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 280px;
    height: 140px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 280px;
    height: 140px;
    border: 1.5px solid var(--borderColor);
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid var(--borderColor);
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

/* ----------- ABOUT PART ----------- */

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 40px;
    margin: 0px 20px 0px 20px ;
}

.about-me {
    margin-left: 5px;
    margin-right: 5px;
}

.about-me h4, h5, p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* --- SKILLS SECTION --- */

#key-skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    padding: 15px;
}

#key-skills ul {
    padding: 10px;
    margin: 0 auto;
}

.skills-wrapper {
    width: auto;
    font-family: 'Roboto', sans-serif;
    margin-left: 70px;
    margin-right: 70px;
}

.skills-wrapper h5 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.skill {
    margin-bottom: 15px;
    position: relative;
    overflow-x:hidden;
}
 
.skill > p {
    font-size: 12px;
    font-weight: 600;
    margin: 2px;
    text-align: left;
}
 
.skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background-color: var(--mainColor);
    bottom: 0;
    border-radius: 10px;
}
 
.skill-bar {
    width: 100%;
    height: 10px;
    background-color: var(--borderColor);
    display: block;
    position: relative;
    border-radius: 5px;
}
 
.skill-bar span {
    position: absolute;
    border-top: 9px solid var(--secondaryColor);
    top: -30px;
    padding: 3px 4px;
    font-size: 13px;
    font-weight: 500;

    margin-left: 100px;
}
 
.skill-bar {
    position: relative;
}
 
.skill1 .skill-count1 {
    right: 0;
}
 
.skill1 {
    width: 85%;
}
 
.skill2 {
    width: 80%;
}
 
.skill2 .skill-count2 {
    right: 0;
}
 
.skill3 {
   width: 70%;
}
 
.skill3 .skill-count3 {
    right: 0;
}

.skill4 {
    width: 65%;
 }
  
.skill4 .skill-count4 {
     right: 0;
 }

.skill5 {
    width: 60%;
 }
  
.skill5 .skill-count5 {
     right: 0;
 }

.skill6 {
    width: 55%;
 }
  
.skill6 .skill-count6 {
     right: 0;
 }

.skill7 {
    width: 50%;
 }
  
.skill7 .skill-count7 {
     right: 0;
 }

.skill8 {
    width: 45%;
 }
  
.skill8 .skill-count8 {
     right: 0;
 }

/* --- PDF BUTTON SECTION --- */

.button-wrapper {
    display: block;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding-top: 10px;
}

.button {
    background-color: var(--buttonColor);
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }
  
.button span {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-weight: 10;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* ----------- POST PART ----------- */

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.post {
    border: 2px solid var(--borderColor);
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
    text-align: center;

}

.post-intro {
    columns: #4B5156;
    font-size: 14px;
}

.post-preview p {
    color: #343a40;
}

/* ----------- CONTACT PART ----------- */

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 30px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 80px;
    font-size: 14px;
    width: 100%;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 2px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Russo One', sans-serif;
    background-color: var(--buttonColor);
    border-radius: 5px;
    border: none;
}

/* --- SOCIAL LINKS SECTION --- */

.footerCol {
    padding: 0 0 30px 0;
    text-align: center;
  }

  .socialCol {
    margin: 5px;
  }

  .socialCol li {
    display: inline-block;
    padding-right: 10px;
  }

.socialCol img {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
  }

.copyrightCol {
    padding: 5px 0 0 0;
    font-size: 14px;
  }
  
.copyrightCol p {
    margin: 0;
  }

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    .right-column {
        justify-content: center;
    }
 
}
