:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --bordorColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292E;

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #F0EAD6;

    --buttonColor: black;
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;

}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 { font-size: 44px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}



.s1 {
    background-color: var(--mainColor);
    border-bottom: 3px solid var(--bordorColor);
    overflow: auto;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 3px solid var(--bordorColor);
    overflow: auto;
}

.main-container {
    width: 1022px;
    margin: auto;
}

.greating-wrrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 6em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--bordorColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 23px 3px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 2px solid var(--bordorColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 {
    background-color: #FC6058;
}

#dot-2 {
    background-color: #FEC02F;
}

#dot-3 {
    background-color: #2ACA3E;
}


.left-column {
    grid-area: left-column;
    padding-top: 40px;
    padding-bottom: 10px;
}

#profile_pic {
    display: block;
    margin: 0 auto;

    height: 180px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--bordorColor);
}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: black;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866B;
}

#purple-mode {
    background-color: #7E4C74;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 10px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 280px;
    height: 140px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 280px;
    height: 140px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px;
}

#corner-tr {
    top: -5px;
    right: -5px;
}

#corner-br {
    bottom: -5px;
    right: -5px;
}

#corner-bl {
    bottom: -5px;
    left: -5px;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 40px;
    margin: 0px 40px 0px 40px ;
}

.about-me {
    margin-left: 5px;
    margin-right: 5px;
}

.about-me h4, h5, p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* KEY SKILLS */

#key-skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    padding: 15px;
}

#key-skills ul {
    padding: 10px;
    margin: 0 auto;
}

/**/

/* SKILL SECTION */
.skills-wrapper {
    width: auto;
    font-family: 'Roboto', sans-serif;
    margin-left: 70px;
    margin-right: 70px;
}

.skills-wrapper h5 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.skill {
    margin-bottom: 15px;
    position: relative;
    overflow-x:hidden;
}
 
.skill > p {
    font-size: 12px;
    font-weight: 600;
    color: #1a1716;
    margin: 2px;
    text-align: left;
}
 
.skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background-color: var(--previewShadow);
    bottom: 0;
    border-radius: 10px;
}
 
.skill-bar {
    width: 100%;
    height: 10px;
    background-color: var(--bordorColor);
    display: block;
    position: relative;
    border-radius: 5px;
}
 
.skill-bar span {
    position: absolute;
    border-top: 9px solid var(--secondaryColor);
    top: -30px;
    padding: 0;
    font-size: 13px;
    padding: 3px 9px;
    font-weight: 500;
}
 
.skill-bar {
    position: relative;
}
 
.skill1 .skill-count1 {
    right: 0;
}
 
.skill1 {
    width: 95%;
}
 
.skill2 {
    width: 85%;
}
 
.skill2 .skill-count2 {
    right: 0;
}
 
.skill3 {
   width: 75%;
}
 
.skill3 .skill-count3 {
    right: 0;
}

/* skill end */

/* PDF BUTTON */

.button-wrapper {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 14px;
    padding-top: 10px;
}

.button {
    background-color: #173fb8;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }
  
.button span {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-weight: 10;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.button:hover span {
    padding-right: 25px;
  }
  
.button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* BUTTON END */


.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 2px solid var(--bordorColor);
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;

}

.post-intro {
    columns: #4B5156;
    font-size: 14px;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid var(--bordorColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 2px solid var(--bordorColor);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}


@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    .right-column {
        justify-content: center;
    }
 
}
