:root {

    --mainColor: #023e8a;
    --secondaryColor: #0077b6;

    --borderColor: #03045e;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #03045e;

    --previewBg: rgb(0, 50, 199, 0.8);

    --previewShadow: #0096c7;

    --buttonColor: #0032C7;
    
}