:root{
 
	--mainColor:#007200;
	--secondaryColor:#008000;

	--borderColor:#004b23;

	--mainText: #fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#004b23;

	--previewBg: rgba(38, 112, 4, 0.8);

	--previewShadow:#38b000;

	--buttonColor:#70e000;

}